@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hind", sans-serif;
}

:root {
    --clr-black: #212529;
    --primary-100: #20c997;
    --primary-200: #0ca678;
    --text-color: var(--primary-200);
    --bg-color: #fff;

    --dark-mode-text-color: var(--primary-200);
    --dark-mode-bg-color: var(--clr-black);
}

.dark-theme {
    --bg-color: var(--dark-mode-bg-color);
    --text-color: var(--dark-mode-text-color);
}

/* 
@media (prefers-color-scheme: dark) {
    :root {
        --text-color: var(--dark-mode-text-color);
        --bg-color: var(--dark-mode-bg-color);
    }
} */

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: grid;
    place-items: center;
    transition: all 0.4s ease-in-out;
}

main {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    padding: 2rem;
}

/* theme toggle */
.toggle-container {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 1rem;
}

.toggle-btn {
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-black);
}

/* search form */
.form-container {
    margin-bottom: 2rem;
    text-align: center;
}

.form-container h2 {
    font-size: 3rem;
    letter-spacing: 1.5px;
    font-weight: 300;
}

.form-control {
    margin: 1rem 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.form-input,
.submit-btn {
    padding: 0.25rem 0.5rem;
    background-color: white;
    letter-spacing: 1.2px;
    outline: none;
    border-radius: 10px;
    font-size: 1.1rem;
}

.form-input {
    width: 50%;
    border: 1px solid #918d8d;
}

.submit-btn {
    border: transparent;
    cursor: pointer;
    color: white;
    background-color: var(--primary-200);
    transition: all 0.2s ease-in-out;
}

.submit-btn:hover {
    background-color: var(--primary-100);
}

/* gallery */

.gallery-container {
    text-align: center;
    padding: 1rem;
    display: grid;
    gap: 2rem;
}

.img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 200px;
    border-radius: 5px;
}

.gallery-container h4 {
    font-size: 2rem;
    width: 100%;
    margin: 2rem auto;
}


@media screen and (min-width:768px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:992px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .form-input {
        width: 30%;
    }
}